body {
  padding: 0;
}

/* MENU */

#master-container {
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

#master-container * {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
#group-selector,
#cbl-group-selector,
#date-selector {
  font-size: 20px;
}

#schedule * {
  font-size: 16px;
}

#menu {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  margin: auto;
  width: 100%;
}

/* date menu */

#date-menu-container {
  background-color: #3498db;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-buttons .previous-and-next {
  font-size: 50px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 60px;
}

#date-menu #date-selector {
  padding: 10px 5px;
  border: none;
  border-radius: 10px;
  width: 110px;
}

.date-buttons {
  align-self: center;
}

/* GROUP SELECTORS */

#group-container {
  display: flex;
  flex-direction: column;
}

#group-menu {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cbl-group-menu {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#group-selector {
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #3498db;
  color: white;
  padding: 20px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 140px;
  text-align: left;
}

#cbl-group-selector {
  margin-right: 5px;
  background-color: #3498db;
  color: white;
  padding: 20px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 140px;
  text-align: left;
}

/* DATE SELECTOR */
#date-selector {
  color: #313639;
  margin-bottom: 3px;
  border: 0;
  padding: 8px;
  border-radius: 10px;
  width: 140px;
  text-align: center;
}

/* SCHEDULE*/
#keys {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 40px;
}

#schedule {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.timetable-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

/* flexbox fade-in etc */

.timetable-container {
  opacity: 0; /* Initially hide the containers */
  transform: translateY(-20px); /* Move containers up */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition effect */
}

.timetable-container.show {
  opacity: 1; /* Show the containers */
  transform: translateY(0); /* Move containers to their original position */
}

.timetable-item {
  flex: 1 1 auto;
  padding: 10px;
}

.timetable-item:nth-child(1) {
  width: 7%;
}

.timetable-item:nth-child(2) {
  width: 7%;
}

.timetable-item:nth-child(3) {
  width: 18%;
}

.timetable-item:nth-child(4) {
  width: 19%;
}

.timetable-item:nth-child(5) {
  width: 33%;
}

/* info question mark icon */

/* Icon styles */
.icon-question {
  position: relative;
  display: inline-block;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  border-radius: 50%;
  cursor: pointer;
}
.icon-question:before {
  content: "?";
  font-size: 24px; /* Adjust size as needed */
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hover label styles */
.hover-label {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 2vw;
  left: 0vw;
  width: auto;
  white-space: nowrap;
}
.icon-question:hover .hover-label {
  display: block;
}

.date-buttons > .previous-and-next {
  font-size: 50px;
}

/* Adjust font size for tablets (portrait) */
@media only screen and (max-width: 768px) {
  #schedule * {
    font-size: 16px; /* Adjust the value as needed */
  }
  #group-selector,
  #cbl-group-selector,
  #date-selector {
    font-size: 16px;
  }
  .previous-and-next {
    font-size: 40px;
  }
  #date-selector {
    width: 110px;
    text-align: center;
  }
  .timetable-item:nth-child(1) {
    min-width: 4%;
    max-width: 7%;
  }
  .timetable-item:nth-child(3) {
    min-width: 16%;
    max-width: 22%;
  }
}

/* Adjust font size for phones */
@media only screen and (max-width: 480px) {
  body {
    margin: 0;
  }
  #schedule * {
    font-size: 3.2vw; /* Adjust the value as needed */
  }
  #group-selector,
  #cbl-group-selector,
  #date-selector {
    font-size: 5vw;
  }
  .previous-and-next {
    font-size: 30px;
  }
  #popup button {
    font-size: 5vw;
  }
  #menu {
    justify-content: center;
    width: 100%;
    margin-top: 2vh;
  }
  #master-container {
    width: 100%;
    margin: 0;
    margin-top: 4vh;
    padding: 0;
  }
  #keys {
    margin-bottom: 20px;
    width: 90%;
  }
  #schedule {
    width: 90%;
  }
  #date-selector {
    width: 110px;
  }
  #group-menu {
    margin-right: 5px;
  }
  #group-selector {
    margin-right: 5px;
  }
  #cbl-group-selector {
    margin-right: 5px;
  }
  .icon-question:hover .hover-label {
    display: none;
  }
  .hover-label {
    white-space: wrap;
    width: 30vw;
    top: 6vw;
    left: 0vw;
    display: none; /* Initially hide the label */
  }
  .icon-question.active .hover-label {
    display: block; /* Display the label when the icon is clicked */
  }
}

/* popups */

.cbl-popup-container,
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  z-index: 9999;
}

.cbl-popup,
.popup {
  display: none;
  background-color: #f9f9f9;
  padding: 1.5%;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: all 0.5s ease-in-out;
  transform-origin: top left;
}
.cbl-popup.active,
.popup.active {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: appear 0.5s forwards;
}
@keyframes appear {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.cbl-popup button,
.popup button {
  width: 80%;
  margin: 6%;
  display: block;
  margin-top: 1.5vh;
}
