/* MENU */

#master-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

#master-container * {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#menu {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  margin: auto;
  width: 100%;
}

#date-menu {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* GROUP SELECTORS */

#group-menu {
  padding: 2px;
  border: 2px;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cbl-group-menu {
  padding: 2px;
  border: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#group-selector {
  margin-right: 5px;
}

#cbl-group-selector {
  margin-right: 5px;
}

/* DATE SELECTOR */
#date-selector {
  width: 160px;
  text-align: center;
}

/* SCHEDULE*/
#keys {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 40px;
}

#schedule {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.timetable-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

/* flexbox fade-in etc */

.timetable-container {
  opacity: 0; /* Initially hide the containers */
  transform: translateY(-20px); /* Move containers up */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition effect */
}

.timetable-container.show {
  opacity: 1; /* Show the containers */
  transform: translateY(0); /* Move containers to their original position */
}

.timetable-item {
  flex: 1 1 auto;
  padding: 10px;
}

.timetable-item:nth-child(1) {
  width: 7%;
}

.timetable-item:nth-child(2) {
  width: 7%;
}

.timetable-item:nth-child(3) {
  width: 14%;
}

.timetable-item:nth-child(4) {
  width: 23%;
}

.timetable-item:nth-child(5) {
  width: 33%;
}

/* info question mark icon */

/* Icon styles */
.icon-question {
  position: relative;
  display: inline-block;
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent background */
  border-radius: 50%;
  cursor: pointer;
}
.icon-question:before {
  content: "?";
  font-size: 16px; /* Adjust size as needed */
  color: rgba(0, 0, 0, 0.5); /* Semi-transparent color */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Hover label styles */
.hover-label {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 2vw;
  left: 0vw;
  width: auto;
  white-space: nowrap;
}
.icon-question:hover .hover-label {
  display: block;
}

@media only screen and (max-width: 1224px) {
  #master-container * {
    font-size: 16px;
  }
}

/* Adjust font size for tablets (portrait) */
@media only screen and (max-width: 768px) {
  #master-container * {
    font-size: 16px; /* Adjust the value as needed */
  }
  #date-selector {
    width: 120px;
    text-align: center;
  }
  .timetable-item:nth-child(1) {
    min-width: 4%;
    max-width: 7%;
  }
  .timetable-item:nth-child(3) {
    min-width: 16%;
    max-width: 22%;
  }
}

/* Adjust font size for phones */
@media only screen and (max-width: 480px) {
  #master-container * {
    font-size: 3.4vw; /* Adjust the value as needed */
  }
  #master-container {
    width: 95%;
    margin: 0;
    padding: 5px;
  }
  #keys {
    margin-bottom: 20px;
  }
  #date-selector {
    width: 17vw;
  }
  #group-menu {
    margin-right: 5px;
  }
  #group-selector {
    margin-right: 5px;
  }
  #cbl-group-selector {
    margin-right: 5px;
  }
  .icon-question:hover .hover-label {
    display: none;
  }
  .hover-label {
    white-space: wrap;
    width: 30vw;
    top: 6vw;
    left: 0vw;
    display: none; /* Initially hide the label */
  }
  .icon-question.active .hover-label {
    display: block; /* Display the label when the icon is clicked */
  }
}
