/* MENU */

#master-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: clamp(360px, 80%, 1600px);
}

#master-container * {
  font-size: 1.2vw;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

#menu {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  margin: auto;
  width: 100%;
}

#date-menu {
  margin-left: auto;
}

/* GROUP SELECTORS */

#group-selector {
  margin-right: 5vw;
}

/* DATE SELECTOR */
#date-selector {
  width: 10vw;
  text-align: center;
}

/* SCHEDULE*/
#keys {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  border-bottom: 2px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 40px;
}

#schedule {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
}

.timetable-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0.5%;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
}

/* flexbox fade-in etc */

.timetable-container {
  opacity: 0; /* Initially hide the containers */
  transform: translateY(-20px); /* Move containers up */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Add transition effect */
}

.timetable-container.show {
  opacity: 1; /* Show the containers */
  transform: translateY(0); /* Move containers to their original position */
}

.timetable-item {
  flex: 1 1 auto;
  padding: 10px;
}

.timetable-item:nth-child(1) {
  width: 12%;
}

.timetable-item:nth-child(2) {
  width: 8%;
}

.timetable-item:nth-child(3) {
  width: 16%;
}

.timetable-item:nth-child(4) {
  width: 24%;
}

.timetable-item:nth-child(5) {
  width: 34%;
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #master-container * {
    font-size: 1.8vw; /* Adjust the value as needed */
  }
}

/* Adjust font size for tablets (portrait) */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  #master-container * {
    font-size: 2.2vw; /* Adjust the value as needed */
  }
}

/* Adjust font size for phones */
@media only screen and (max-width: 480px) {
  #master-container * {
    font-size: 2.6vw; /* Adjust the value as needed */
  }
}
